.fasd
.config/google-chrome
.config/pulse
.config/menus
.config/xfce4
.config/vlc
.config/QtProject.conf
.xfce4-session*
code
.cabal
.compose-cache
.lesshst
.xfce4-session.verbose-log
.*_history
.cache
.Xauthority
.gnome
.xsession-errors*
.viminfo
.nix-profile
.nix-defexpr
.ssh
.pki
.local
.ICEauthority
.dbus
.esd_auth
Downloads
.mozilla
.ghc
.ipython
.jupyter
.ipynb_checkpoints
